hostname: bigbang.dev

flux:
  interval: 1m
  rollback:
    cleanupOnFail: false

gatekeeper:
  values:
    replicas: 1

istio:
  values:
    kiali:
      dashboard:
        auth:
          strategy: anonymous
    ingressGateway:
      serviceAnnotations:
        # Ensure mission apps have internal load balancer only
        service.beta.kubernetes.io/aws-load-balancer-internal: "true"
        # Enable cross zone load balancing
        service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"

eckoperator:
  enabled: false
fluentbit:
  enabled: false
clusterAuditor:
  enabled: false
logging:
  enabled: false
  values:
    elasticsearch:
      master:
        count: 1
        persistence:
          size: 5Gi
        resources:
          limits:
            cpu: 1
            memory: 3Gi
      data:
        count: 1
        persistence:
          size: 5Gi
        resources:
          limits:
            cpu: 1
            memory: 3Gi

twistlock:
  values:
    console:
      persistence:
        size: 5Gi

addons:
  anchore:
    git:
      branch: main
      tag: null
    enabled: true
    adminPassword: "foobar"
    postgresql:
      enabled: true
      user: "anchore"
      password: "anchore123"
      mainDB: "anchoremain"
      enterpriseFeedsDB: "anchorefeeds"
    enterprise:
      enabled: true
    enterpriseUiRedis:
      enabled: true
      password: "anchore123"
